body {
  background-color: #bfb7b0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: "Fira Code", monospace;
  margin-bottom: 4rem;
}

.hidden {
  display: none;
}

.carbox {
  position: relative;
}

.racecar-2 {
  width: 45%;
  color: blue;
}

.racecar-2:hover {
  transform: scale(1.2);
  transform: rotate();
}

.racecar {
  width: 11%;
  position: absolute;
}

.up {
  transform: rotate(-90deg);
  transition: transform 0.2s;
}

.right {
  transform: rotate(0deg);
  transition: transform 0.2s;
}

.down {
  transform: rotate(90deg);
  transition: transform 0.2s;
}

.left {
  transform: rotate(180deg);
  transition: transform 0.2s;
}
