body {
  background-color: #bfb7b0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: "Fira Code", monospace;
  margin-bottom: 4rem;
}

button {
  background: #fff;
  font-size: 1.4rem;
  border: 0;
  padding: 0.5rem;
  border-radius: 8px;
  color: #000;
  font-family: "Fira Code", monospace;
  transition: background 0.3s ease;
}

button:hover {
  background: #fff6e3;
  cursor: pointer;
}

.hidden {
  display: none;
}

.carbox {
  position: relative;
}

.racecar-2 {
  width: 45%;
}

.racecar-2:hover {
  animation: 5s infinite rotate-ship linear;
}

.racecar {
  width: 100px;
  position: absolute;
}

.up {
  transform: rotate(-90deg);
  transition: transform 0.2s;
}

.right {
  transform: rotate(0deg);
  transition: transform 0.2s;
}

.down {
  transform: rotate(90deg);
  transition: transform 0.2s;
}

.left {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.sky {
  background-color: #bde3f2;
}

.space {
  background-color: #1e2d40;
}

.ocean {
  background-color: #60a6a6;
}

.button-div {
  text-align: right;
  margin: 1rem;
}

@keyframes rotate-ship {
  0% {
    transform: scale(1.2) rotate(0deg);
  }

  25% {
    transform: scale(1.2) rotate(360deg);
  }

  50% {
    transform: scale(1.2) rotate(0deg);
  }

  75% {
    transform: scale(1.2) rotate(360deg);
  }

  100% {
    transform: scale(1.2) rotate(0deg);
  }
}

@media (prefers-reduced-motion) {
  .racecar-2:hover {
    transform: scale(1.2);
  }
}
